
table tr td {
  border: 1px solid black;
}

.rendu {
  color:green;
}

.nonRendu {
  color:red;
  border:2px dashed red;
  background-color:yellow;
}

.form {
  display:flex;
  flex-direction: column;
  margin:5px;
}

#monParagraphe {
  color:pink
}
