<h3>{{ titre }}</h3>

<form ngForm (submit)="onSubmit($event)" #assignmentForm class="form">
  <mat-form-field>
    <mat-label> Nom : </mat-label>
    <input matInput
           placeholder="Nom du devoir"
           [(ngModel)]="nomDevoir"
           name="nom"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker"
          [(ngModel)]="dateDeRendu"
          name="date"
    >
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-stroked-button color="primary">Ajouter devoir</button>
</form>

<h3>Liste des devoirs :</h3>

<div *ngFor="let a of assignments">
  <p *ngIf="a.rendu" appRendu>
    {{ a.nom }}, à rendre le {{ a.dateDeRendu }} RENDU.
  </p>
  <p *ngIf="!a.rendu" appNonRendu>
    {{ a.nom }}, à rendre le {{ a.dateDeRendu }} NON RENDU.
  </p>
</div>
