
<p>
    <mat-toolbar color="primary">
    <mat-toolbar-row>
    <button mat-button><mat-icon>home</mat-icon></button>
      <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon>
      </button>
      <span>Application de gestion des devoirs</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav [(opened)]="opened" mode="side">
        <mat-list>
            <mat-list-item><a style="text-decoration: none;"> Liste des devoirs </a></mat-list-item>
            <mat-list-item><a style="text-decoration: none;"> Ajout d'un devoir </a></mat-list-item>
            <mat-list-item><a style="text-decoration: none;"> Modification d'un devoir </a></mat-list-item>
            <mat-list-item><a style="text-decoration: none;"> Suppression d'un devoir </a></mat-list-item>
            <mat-list-item><a style="text-decoration: none;"> Génération de données de test </a></mat-list-item>

        </mat-list>
        
      </mat-sidenav>

     <mat-sidenav-content> 
        <app-assignments></app-assignments>


        </mat-sidenav-content>
   
    </mat-sidenav-container>
  </p>






